<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aka.android.bluechat">



    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyD7yJ6K31ZoPy256kmu3BySjkb39u33VHQ"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- Home screen of the app -->

        <activity
            android:name="com.aka.android.bluechat.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Chat activity -->

        <activity android:name="com.aka.android.bluechat.ChatActivity" android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aka.android.bluechat.MainActivity" />
        </activity>

        <activity android:name=".MapsActivity">
        </activity>

        <activity
            android:name="com.aka.android.bluechat.DeviceListActivity"
            android:label="Select a device to connect"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:configChanges="orientation|screenSize"/>

    </application>

</manifest>